@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin iphone-styles {
	@media only screen and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
		@content;
	}
}
